---
import type { Asset, Entry } from 'contentful'
import { contentfulClient, type Post } from '../../lib/contentful'
import PhotoGallery from '../../components/PhotoGallery'
import { documentToHtmlString } from '@contentful/rich-text-html-renderer'

export async function getStaticPaths() {
  const posts = await contentfulClient.getEntries<Post>({
    content_type: 'post',
  })

  const pages = posts.items.map((item) => ({
    params: { slug: item.fields.slug },
    props: {
      title: item.fields.title,
      content: documentToHtmlString(item.fields.content),
      images: item.fields.images as Asset[],
      posts: posts.items as Entry<Post>[],
    },
  }))
  return pages
}

const { title, content, images, posts } = Astro.props
---

<html lang="en">
  <head>
    <title>{`${title} - Photography, Alan Maldonado`}</title>
  </head>
  <body>
    <main>
      <PhotoGallery client:only images={images} posts={posts}>
        <div set:html={content} />
      </PhotoGallery>
    </main>
  </body>
</html>
