---
import type { Asset, Entry } from 'contentful'
import { contentfulClient, type Post } from '../../lib/contentful'
import PhotoGallery from '../../components/PhotoGallery'
import { documentToHtmlString } from '@contentful/rich-text-html-renderer'
import '../../../src/styles/global.css'

export async function getStaticPaths() {
  const posts = await contentfulClient.getEntries<Post>({
    content_type: 'post',
    order: ['-fields.date'],
  })

  const pages = posts.items.map((item) => ({
    params: { slug: item.fields.slug },
    props: {
      title: item.fields.title,
      date: new Date(String(item.fields.date)),
      content: documentToHtmlString(item.fields.content),
      images: item.fields.images as Asset[],
      posts: posts.items as Entry<Post>[],
    },
  }))
  return pages
}

const { title, content } = Astro.props
---

<html lang="en">
  <head>
    <title>{`${title} - Photography, Alan Maldonado`}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style is:global>
      .loader {
        height: 4px;
        width: 150px;
        --line-bg: no-repeat linear-gradient(#000 0 0);
        background: var(--line-bg), var(--line-bg), #fff;
        background-size: 60% 100%;
        animation: line-loader 5s infinite;
        opacity: 0.75;
      }

      @media screen and (max-width: 1024px) {
        .loader {
          height: 4px;
          width: 100%;
        }
      }

      @keyframes line-loader {
        0% {
          background-position:
            -150% 0,
            -150% 0;
        }
        66.67% {
          background-position:
            250% 0,
            -150% 0;
        }
        100% {
          background-position:
            250% 0,
            250% 0;
        }
      }
    </style>
  </head>
  <body>
    <main>
      <PhotoGallery client:only {...Astro.props}>
        <div set:html={content} />
      </PhotoGallery>
    </main>
  </body>
</html>
