---
import { getCollection } from 'astro:content'
import Post from './../../layouts/Post.astro'
import { TAG_ROUTE } from '@/src/routes'

export async function getStaticPaths() {
  const posts = await getCollection('posts')
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post }
  }))
}

const { post } = Astro.props
const { Content } = await post.render()
---

<Post frontmatter={post.data}>
  <div class="my-3 flex items-center gap-2">
    {
      post.data.tags.map((tag) => (
        <a
          href={`${TAG_ROUTE}/${tag}`}
          class="border border-black bg-black px-1.5 py-0.5 pb-1 text-sm text-white transition-colors hover:bg-white hover:text-black"
        >
          {tag}
        </a>
      ))
    }
  </div>
  <Content />
</Post>
