---
import { getCollection } from 'astro:content'
const posts = await getCollection('posts')
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>meshgarden, by Alan Maldonado</title>
	</head>
	<body>
		<h1 class="mb-3">meshgarden</h1>
		<h2 class="mb-2">Last 10 posts:</h2>
		<ul>
			{
				posts.slice(0, 10).map((p) => (
					<li>
						<a class="underline" href={`/blog/${p.slug}`}>{p.data.title}</a>
					</li>
				))
			}
		</ul>
	</body>
</html>
